.search{
 margin: 5rem auto;
}
 .search h3{
     text-transform: uppercase;
     color: rgb(35, 40, 41);
     letter-spacing: 5px;
     font-family: 'Mate SC', serif;
     margin: 2rem auto;
     font-weight: 600;
 }   

.search>input[type="search"]{
    background: rgb(175, 165, 165);
    border-radius: 5px;
    border: none;
    padding: 6px 60px;
    margin-right: 5px;
}
 .search>.btn{
      border-radius: 5px;
      padding: 5px 20px;
 }
 @media(max-width:400px){

.search>input[type="search"]{
   margin: .5rem auto;
    padding: 5px 30px;
}
.search>.btn{
      border-radius: 10px;
      padding: 5px 10px;
 }
}